### Data preparation for performing  CNN-LSTM in epilepsy
### July 27, 2023

In [6]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
df=pd.read_csv('C://NRL/epilepsy.csv',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,169,170,171,172,173,174,175,176,177,178
0,135,190,229,223,192,125,55,-9,-33,-38,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,4
1,386,382,356,331,320,315,307,272,244,232,...,164,150,146,152,157,156,154,143,129,1
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,57,64,48,19,-12,-30,-35,-35,-36,5
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,5
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,4,2,-12,-32,-41,-65,-83,-89,-73,5

In [7]:
y=df[[178]]
df1=df.iloc[:,0:178]
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,168,169,170,171,172,173,174,175,176,177
0,135,190,229,223,192,125,55,-9,-33,-38,...,8,-17,-15,-31,-77,-103,-127,-116,-83,-51
1,386,382,356,331,320,315,307,272,244,232,...,168,164,150,146,152,157,156,154,143,129
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,29,57,64,48,19,-12,-30,-35,-35,-36
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-80,-82,-81,-80,-77,-85,-77,-72,-69,-65
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,10,4,2,-12,-32,-41,-65,-83,-89,-73

In [8]:
#normalize(b)
b1=df1.apply(lambda x: x/(x**2).sum()**.5, axis=1)
b1.head()

,0,1,2,3,4,5,6,7,8,9,...,168,169,170,171,172,173,174,175,176,177
0,0.104109,0.146523,0.176599,0.171972,0.148066,0.096397,0.042415,-0.006941,-0.025449,-0.029305,...,0.006169,-0.013110,-0.011568,-0.023906,-0.059381,-0.079431,-0.097939,-0.089456,-0.064008,-0.039330
1,0.061209,0.060575,0.056452,0.052488,0.050743,0.049951,0.048682,0.043132,0.038692,0.036789,...,0.026640,0.026006,0.023786,0.023152,0.024103,0.024896,0.024737,0.024420,0.022676,0.020456
2,-0.038444,-0.046854,-0.056465,-0.044451,-0.038444,-0.043250,-0.068479,-0.087701,-0.102118,-0.112930,...,0.034840,0.068479,0.076889,0.057666,0.022826,-0.014417,-0.036042,-0.042048,-0.042048,-0.043250
3,-0.111276,-0.107037,-0.101738,-0.097499,-0.094319,-0.100678,-0.108096,-0.105977,-0.092200,-0.083722,...,-0.084781,-0.086901,-0.085841,-0.084781,-0.081602,-0.090080,-0.081602,-0.076303,-0.073124,-0.068885
4,-0.017182,-0.124093,-0.187094,-0.194730,-0.148911,-0.091638,-0.030546,0.000000,-0.040092,-0.112638,...,0.019091,0.007636,0.003818,-0.022909,-0.061092,-0.078274,-0.124093,-0.158457,-0.169912,-0.139366

### Saving xtrain, xtest, ytrain, ytest for CNN-LSTM algorthm

In [9]:
from sklearn.model_selection import train_test_split
X=b1.iloc[:,0:178]
X_train, X_test, Y_train, Y_test = train_test_split(X,y, test_size=0.1,random_state=0)
X_train=pd.DataFrame(X_train)
X_test=pd.DataFrame(X_test)
X_train.to_csv("c:/NRL/datasetsepi/train/Subs/X_train.csv",index=False,header=False)
X_test.to_csv("c://NRL/datasetsepi/test/Subs/X_test.csv",index=False,header=False)

In [10]:
np.savetxt('c:/NRL/datasetsepi/train/y_train.csv', Y_train) 
np.savetxt('c:/NRL/datasetsepi/train/y_train.csv', Y_train)